<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>Face Detection</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='styles/style.css') }}">
</head>

<body>
  <video id="video" width="720px" height="560px" autoplay muted></video>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/face-api.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/index.js') }}"></script>

</html>